apiVersion: v1
kind: ConfigMap
metadata:
  name: litellm-config-file
data:
  config.yaml: |
    model_list:
      - model_name: oci_cohere_command_latest
        litellm_params:
          model: oci/cohere.command-latest
          oci_serving_mode: "ON_DEMAND"
          oci_compartment_id: "##TF_VAR_compartment_ocid##"
          oci_region: "##TF_VAR_region##"
          oci_tenancy: "##TF_VAR_tenancy_ocid##"
          oci_user: os.environ/user_ocid
          oci_fingerprint: os.environ/fingerprint
          oci_key_file: "/app/oci_api_key.pem"
          drop_params: True
      - model_name: oci_xai_grok_code
        litellm_params:
          model: oci/xai.grok-code-fast-1  
          oci_serving_mode: "ON_DEMAND"
          oci_compartment_id: "##TF_VAR_compartment_ocid##"
          oci_region: "us-chicago-1"
          oci_tenancy: "##TF_VAR_tenancy_ocid##"
          oci_user: os.environ/user_ocid
          oci_fingerprint: os.environ/fingerprint
          oci_key_file: "/app/oci_api_key.pem"
          drop_params: True
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
    name: litellm-secrets
data:
    user_ocid: ##user_ocid_b64##
    fingerprint: ##fingerprint_b64##
    key_file: ##key_file_b64##          
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: litellm-deployment
  labels:
    app: litellm
spec:
  selector:
    matchLabels:
      app: litellm
  template:
    metadata:
      labels:
        app: litellm
    spec:
      containers:
      - name: litellm
        image: docker.litellm.ai/berriai/litellm:main-stable # it is recommended to fix a version generally
        args:
          - "--config"
          - "/app/proxy_server_config.yaml"
        ports:
        - containerPort: 4000
        volumeMounts:
        - name: config-volume
          mountPath: /app/proxy_server_config.yaml
          subPath: config.yaml
        - name: key-volume
          mountPath: /app/oci_api_key.pem
          subPath: key_file
        envFrom:
        - secretRef:
            name: litellm-secrets
      volumes:
        - name: config-volume
          configMap:
            name: litellm-config-file
        - name: key-volume
          secret:
            secretName: litellm-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: litellm-service
spec:
  selector:
    app: litellm
  ports:
  - protocol: TCP
    port: 4000
    targetPort: 4000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: litellm-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2   
    # nginx.ingress.kubernetes.io/affinity: "cookie"   
    # nginx.ingress.kubernetes.io/session-cookie-path: "/"    
spec:
  ingressClassName: nginx    
  rules:
    - http:    
        paths:
          - path: /litellm(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: litellm-service
                port:
                  number: 4000
                  